<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <!-- <app-servers></app-servers> -->

      <button class="btn btn-primary"
      (click)="onDisplayDetails()">Display details</button>
      <p *ngIf="buttonClicked">Secret password = tuna</p>

      <div
      *ngFor="let logItem of log"
      [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
      [ngClass]="{'white-text': logItem >= 5 }"

      >{{ logItem }} + getDate()</div>
  </div>
</div>
</div>

